body {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    display: flex;
    height: 900px;
    width: 900px;
    padding: 4px;
    border: 1px black solid;
    margin: 0 100px;
    justify-content: center;
}

#functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

input {
    width: 150px;
}

span {
    display: flex;
    justify-content: center;
}

#grid-height {
    margin-right: 6px;
}

#grid-width {
    margin-left: 6px;
}

#grid-size {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border: 2px grey solid;
    border-radius: 4px;
    width: 100px;
}

#multicolor {
    width: 100px;
    height: 20px;
}

#eraser {
    width: 100px;
    height: 20px;
}

#eraser,
#multicolor {
    margin: 4px;
}

.clicked-button {
    background-color: aqua;
    color: green;
}