body {
    display: flex;
}

#main {
    display: flex;
    height: 900px;
    width: 900px;
    padding: 4px;
    border: 1px black solid;
    margin: 0 100px;
    justify-content: center;
}

#functions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}